asgiref==3.8.1
channels==4.2.2
crispy-bootstrap5==2025.4
Django==5.2
django-cors-headers==4.7.0
django-crispy-forms==2.4
django-widget-tweaks==1.5.0
numpy==2.2.6
pandas==2.2.3
pillow==11.2.1
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
XlsxWriter==3.2.3
